<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="-fiwflsVVz2NbQd3YeJuoCNXEn-97tRUVWg3lsgpSbs">
    <title>No Fake Words</title>
    {% if dev %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/compiled/20130525084151/main.css" />
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Quicksand:400' rel='stylesheet' type='text/css'>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33388730-1']);
      _gaq.push(['_trackPageview']);
    </script>
  </head>
  <body>
    <h1>No Fake Words</h1>
    <p>Check words against the 
      <a href="http://en.wikipedia.org/wiki/Official_Tournament_and_Club_Word_List">
        TWL</a>
    </p>
    <form action="#" method="post" id="checkform">
      <input type="text" id="input">
      <button type="submit" id="submit">Check it</button>
    </form>
    <p id="result"></p>
    {% if dev %}
    <script src="/static/js/closure-library/closure/goog/base.js"></script>
    <script src="/static/js/deps.js"></script>
    <script>
      goog.require('nfw.CheckForm');
    </script>
    {% else %}
    <script src="/static/compiled/20130525084151/main.js"></script>
    {% endif %}
    <script>
      var form = new nfw.CheckForm();
      form.decorate(document.getElementById('checkform'));
    </script>
    <script type="text/javascript">
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
