<!doctype html>
<html>
  <head>
    <title>No Fake Words</title>
    <meta name="google-site-verification" content="-fiwflsVVz2NbQd3YeJuoCNXEn-97tRUVWg3lsgpSbs" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33388730-1']);
      _gaq.push(['_trackPageview']);
    </script>
    {% if dev %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    {% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/compiled/2012-08-13-03-31-21/main.css" />
    {% endif %}
  </head>
  <body>
    <form action="#" method="post" id="checkform">
      <input type="input" />
      <button type="submit" id="submit">Check it</button>
    </form>
    <script type="text/javascript">
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% if dev %}
    <script src="/static/js/closure-library/closure/goog/base.js"></script>
    <script src="/static/js/deps.js"></script>
    <script>
      goog.require('nfw.CheckForm');
    </script>
    {% else %}
    <script src="/static/js/compiled/2012-08-13-03-31-21/main.js"></script>
    {% endif %}
    <script>
      var form = new nfw.CheckForm();
      form.decorate(document.getElementById('checkform'));
    </script>
  </body>
</html>
